# Ignore python cache
__pycache__/
*.pyc
venv/
.venv/
backend/venv/

# Ignore heavy datasets and local outputs
backend/output/
aodn_output/
ocean_data/

# Environment and credentials
.env
*.env

# Node & Frontend dependencies and builds
node_modules/
dist/
.vite/
frontend/node_modules/
frontend/dist/
frontend-test/node_modules/
frontend-test/dist/
